{
  "sourceMaps": true,
  "presets": [
    [
      "es2015",
      {
        "loose": true,
        "modules": false
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "syntax-dynamic-import",
    [
      "transform-react-jsx",
      {
        "pragma": "h"
      }
    ],
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}