{
  "plugins": [
    "jsx-a11y"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:jsx-a11y/recommended",
    "eslint-config-synacor"
  ],
  "rules": {
    "prefer-template": 2,
    "template-curly-spacing": 2,
    "space-before-blocks": 2,
    "no-lonely-if": 2,
    "key-spacing": 2,
    "keyword-spacing": 2,
    "constructor-super": 2,
    "no-this-before-super": 2,
    "no-dupe-class-members": 2,
    "no-const-assign": 2,
    "prefer-spread": 2,
    "no-useless-concat": 2,
    "no-var": 2,
    "max-nested-callbacks": [
      2,
      3
    ],
    "no-eval": 2,
    "no-implied-eval": 2,
    "no-new-func": 2,
    "no-else-return": 2,
    "no-redeclare": 2,
    "no-dupe-keys": 2,
    "object-shorthand": 2,
    "prefer-arrow-callback": 2,
    "arrow-spacing": 2,
    "arrow-body-style": 2,
    "comma-dangle": 0,
    "no-empty-pattern": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-no-bind": 1,
    "react/no-danger": 0,
    "brace-style": 0,
    "compat/compat": 1,
    "jsx-a11y/onclick-has-role": 2,
    "jsx-a11y/onclick-has-focus": 2,
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ],
    "no-unused-vars": [
      0,
      {
        "varsIgnorePattern": "^h$"
      }
    ],
    "import/no-extraneous-dependencies": 0,
    "linebreak-style": 0,
    "indent": [
      "error",
      2
    ],
    "no-underscore-dangle": [
      2,
      {
        "allowAfterThis": true
      }
    ],
    "class-methods-use-this": 0
  }
}