@import '../../../styles/_variables.scss';

.favourite {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: $spacing;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  &:not(:first-child) {
    margin-bottom: $line-height-base;
  }

  & .favourite__time {
    display: flex;
  }

  & .favourite__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    h5 {
      margin: 0 0 0.2em;
    }

    a {
      color: $link;
    }

    .favourite__meta {
      display: flex;
      font-size: 0.909em;
      font-weight: 300;

      & span {
        font-weight: bold;
        padding-right: 0.3em;

        & + span {
          margin-left: 0.752em;
        }
      }
    }

    .favourite__description {
      line-height: 1.333;
      margin: 0.752em 0;
    }
  }

  & div {
    &.tags {
      & span {
        background-color: #eee;
        padding: 3px 1em;
        display: inline-block;
        border-radius: 15px;
        font-size: 1em;

        & + span {
          margin-left: 0.25em;
        }
      }
    }
  }
}