@import '../../../styles/variables.css';

.favourite__item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 1em 0;
  padding: 0.7em;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

  & .favourite__item__time {
    display: flex;
  }

  & .favourite__item__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    & h4 {
      margin:  0 0 0.2em;
    }

    & a {
      color: var(--link);
    }

    & .favourite__meta {
      display: flex;

      & span {
        font-weight: bold;
        padding-right: 0.3em;

        & + span {
          margin-left: 0.752em;
        }
      }
    }

    & .favourite__description {
      line-height: 1.333;
      margin: 0.752em 0;
    }

  }

  & div {
    &.tags {
      & span {
        background-color: #eee;
        padding: 3px 1em;
        display: inline-block;
        border-radius: 15px;
        font-size: 1em;

        & + span {
          margin-left: 0.25em;
        }
      }
    }
  }
}