@import '~styles/_variables';

/**
 * Button Styles
 */

button {
  display: inline-block;
  position: relative;
  background-color: $defaultButton;
  color: $defaultButtonText;
  padding: 0.5em 1em;
  box-shadow: 2px 2px 4px $boxShadowColor;
  font-family: $headerFont;
  transition: all 0.3s;

  svg {
    margin-right: $spacing;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: darken($defaultButton, 10%);
  }

  + button {
    margin-left: $spacing;
  }
}

.button--twitter {
  background-color: $twitter;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($twitter, 10%);
  }
}

.button--linkedin {
  background-color: $linkedIn;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($linkedIn, 10%);
  }
}

.button--fixed {
  position: fixed;
  will-change: transform;
  bottom: $line-height-base;
  right: $line-height-base;
  transform: scale(0, 0);
  pointer-events: none;
  transition: all 0.3s ease-in;
}

.button--display {
  visibility: visible;
  pointer-events: auto;
  transform: scale(1, 1);
}

.button--filter.button--filter:focus,
.button--filter {
  margin: $spacing / 2 $spacing;
  background-color: $focusBorder;
  padding: 0;
  transition: all 0.25s ease-in-out;
}

.button--filter:hover {
  transform: perspective(1px) scale(1.025);
  background-color: $header;
}

.filter--active.button--filter:focus,
.filter--active {
  background-color: $header;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.4);
  transform: scale(1);
}

.button--outline.button--outline:focus,
.button--outline {
  position: absolute;
  right: 1em;
  bottom: 80px;
  background: $header;
  color: #fff;
  border-radius: 50%;
  box-shadow: 3px 4px 6px rgba(50, 50, 93, 0.15), 2px 2px 5px 1px rgba(0, 0, 0, 0.23);
  transition: all 0.25s ease-in-out;
  height: 60px;
  width: 60px;
  vertical-align: middle;

  svg {
    vertical-align: middle;
    fill: white;
    height: 30px;
    width: 30px;
    margin: 0;
  }

  @media (min-width: $desktop) {
    svg {
      fill: $darkerHeader;
    }
  }

  span {
    display: none;
  }
}

.button--outline:hover {
  background-color: darken($header, 5%);
  transform: translateY(-1px);
}

@media (min-width: $desktop) {
  .button--outline.button--outline:focus,
  .button--outline {
    position: relative;
    display: inline;
    right: inherit;
    bottom: inherit;
    margin: $spacing * 2 0 $spacing;
    background-color: $header;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: all 0.25s ease-in-out;
    height: auto;
    width: auto;

    span {
      display: inline;
      vertical-align: middle;
      margin-left: 1em;
    }
  }
}
