@import './_variables.scss';

@mixin flexRowCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnCenter() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin containerWrapper() {
  width: 85%;
  max-width: $container;
  margin: 0 auto;
  padding: 0 1em;
  margin-top: $line-height-base;
}

@function calc-my-height($ems) {
  @return $ems * $line-height-base;
}