@import '_variables.scss';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font: 400 16px/1.5 $mainFont;
  padding: 0;
  margin: 0;
  background-color: #eee;
  box-sizing: border-box;
  overflow-x: hidden;
  color: $textColor;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFont;
  margin: ($line-height-base / 2) 0;
  line-height: $line-height-base;

  span {
    color: $header;
    padding-left: 1px;

    &.underline {
      color: currentColor;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 90%;
        left: 0;
        display: block;
        width: 100%;
        height: 1px;
        background-color: $inputBorder;
      }
    }
  }
}

h1,
h2 {
  line-height: ($line-height-base * 2);
}

h3,
h4 {
  margin: $line-height-base 0;
  position: relative;
}

h1,
h2 {
  font-size: ms(2);
}

h3 {
  font-size: ms(2);
  font-weight: 400;
}

h4 {
  font-size: ms(1);
  font-weight: 400;
}

h5 {
  font-size: ms(1);
  font-weight: normal;
  line-height: 1.25;
}

h2 + h5 {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5;
  will-change: transform;
  overflow: hidden;
}

p,
ul,
.blog__share,
blockquote,
figure {
  margin-bottom: $line-height-base;
}

smaller {
  font-size: 0.8em;
  color: $inputBorder;
  font-variant-caps: small-caps;
  font-feature-settings: "smcp";
  padding: 0 0 $spacing / 2;
  display: inline-block;
}

hr {
  border-color: $border;
}

/* Blockquote */
blockquote {
  display: block;
  margin: $line-height-base 30px;
  font-family: $headerFont;
  background-color: #d6d7d9;
  padding: $spacing;
  color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-left: 0.5em solid $header;

  &::before {
    display: block;
    height: 0;
    content: "“";
    margin-left: -0.95em;
    font: italic 400%/1 Cochin, Georgia, "Times New Roman", serif;
    color: $darkerHeader;
  }

  p {
    margin-bottom: $spacing;
  }
}

cite {
  font-family: $headerFont;
  font-style: italic;
  color: rgba(0, 0, 0, 0.55);
}

/* Typekit Fonts Smooth Loading */

.wf-loading {
  h1,
  h2,
  h3,
  h4,
  h5,
  a:not(.link--content):not(.link) {
    opacity: 0;
  }
}

.wf-active,
.wf-inactive {
  h1,
  h2,
  h3,
  h4,
  h5,
  a:not(.link--content):not(.link) {
    transition: background-color 0.2s ease-in, opacity 0.2s ease-in;
    opacity: 1;
  }
}

.text--blue {
  color: $ignito-blue;
  text-transform: uppercase;
  font-weight: 600;
}
