@import '_variables.scss';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $mainFont;
  font-weight: 400;
  font-size: 16px;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  background-color: #eee;
  box-sizing: border-box;
  overflow-x: hidden;
  color: $textColor;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFont;
  margin: ($line-height-base / 2) 0;
  line-height: $line-height-base;

  span {
    color: $header;
    padding-left: 1px;
  }
}

h1,
h2 {
  line-height: ($line-height-base * 2);
}

h3 {
  margin-top: ($line-height-base / 2);
  margin-bottom: $line-height-base;
  position: relative;
}

h1,
h2 {
  font-size: ms(2);
}

h3 {
  font-size: ms(2);
  font-weight: 600;
}

h4 {
  font-size: ms(1);
  font-weight: 600;
}

h5 {
  font-size: ms(1);
  font-weight: normal;
}

h4 + h2 {
  margin: 0;
}

h2 + h5 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  margin-bottom: $line-height-base;
}

smaller {
  font-size: 0.8em;
  color: #999;
  padding: 0 0 9px;
  display: inline-block;
}

hr {
  border-color: $border;
}

a {
  &.link {
    color: $link;
    font-weight: 600;
    transition: all 0.3s ease-out;
    border-bottom: 2px solid rgba(0, 102, 255, 0);

    &:hover {
      border-bottom: 2px solid $link;
    }
  }
}

/* Typekit Fonts Smooth Loading */

.wf-loading {
  h1,
  h2,
  h3,
  h4,
  h5,
  a:not(.link) {
    opacity: 0;
  }
}

.wf-active,
.wf-inactive {
  h1,
  h2,
  h3,
  h4,
  h5,
  a:not(.link) {
    transition: opacity 0.2s ease-in;
    opacity: 1;
  }
}
