@import '~modularscale-sass/stylesheets/modularscale';

/* Vertivsl Rhythm */
$font-size-base: 16px;
$line-height-base: 24px;
$ms-base: 1em;
$ms-ratio: $fifth;
$spacing: $line-height-base / 2;

/* Fonts */
$headerFont: 'brandon-grotesque', 'Segoe UI', Segoe, Calibri, Arial sans-serif;
$mainFont: 'myriad-pro', 'Segoe UI', Segoe, Calibri, Arial sans-serif;
$textColor: #555;

/* Colors */
$header: #d28546;
$secondaryHeader: rgb(62, 61, 61);
$darkerHeader: darken($header, 20%);
$twitter: #4099ff;
$linkedIn: #0077b5;
$email: #558c89;
$github: #333;
$border: #ccc;
$footer: #ddd;
$breakoutBG: #333640;
$time: rgba(0, 0, 0, 0.55);
$moon: #d4d3ca;
$ignito-blue: rgb(123, 170, 247);

/* Buttons */
$success: #66bb6a;
$inputBorder: #898989;
$focusBorder: #6d6c6c;
$defaultButton: rgb(103, 135, 213);
$defaultButtonText: #fff;
$link: rgb(103, 135, 213);

/* Media Queries */
$tablet: 37.5rem; /* 600 px */
$desktop: 62.5rem; /* 1000 px */
$container: 60rem;

/* Transitions */
$transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

/* Box Shadow Color */
$boxShadowColor: rgba(0, 0, 0, 0.3);
