@import '~modularscale-sass/stylesheets/modular-scale';

/* Vertivsl Rhythm */

$font-size-base: 16px;
$line-height-base: 24px;
$ms-base: 1em;
$ms-ratio: $fifth;
$spacing: $line-height-base / 2;

/* Fonts */

$headerFont: 'brandon-grotesque',"Segoe UI", Segoe,Calibri, Arial sans-serif;
$mainFont: 'myriad-pro', "Segoe UI", Segoe,Calibri, Arial sans-serif;
$textColor: #555;

/* Colors */

$header: #d68643;
$secondaryHeader: rgb(62, 61, 61);
$darkerHeader: darken($header, 20%);
$twitter: #4099ff;
$linkedIn: #0077b5;
$email: #558c89;
$github: #333;
$border: #ccc;

/* Buttons */

$success: #66bb6a;
$inputBorder: #ddd;
$focusBorder: #555;
$defaultButton: rgb(103, 135, 213);
$defaultButtonText: #fff;
$link: rgb(103, 135, 213);

/* Media Queries */

$tablet: 640px;
$desktop: (min-width: 1200px);

/* Transitions */

$transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);

/* Box Shadow Color */

$boxShadowColor: rgba(0, 0, 0, 0.3);