@import '_variables';
@import '_mixin';

@media (min-width: $desktop) {
  /**
  * Time Style
  */
  time {
    font-size: ms(1);
    font-weight: 400;
    line-height: $line-height-base;
  }

  /**
  * Blogs
  */
  .markup {
    padding-top: $spacing;
  }

  main {
    @include containerWrapper;

    margin-top: $line-height-base;
  }

  h1 {
    font-size: ms(2);
    line-height: 1.1;
  }

  h2 {
    font-size: ms(3);
  }

  h3 {
    font-size: ms(2);
  }

  h4 {
    font-size: ms(2);
  }

  h4 + h2 {
    margin-top: $line-height-base;
    margin-bottom: $line-height-base;
  }

  /* Blockquote */
  blockquote {
    font-size: ms(1);
  }

  cite {
    font-size: 18px;
  }

  .content {
    .introduction {
      margin-bottom: $line-height-base;
    }

    .breakout {
      .breakout-wrapper {
        @include containerWrapper;
      }
    }
  }
}