/* Vendor Dependencies */
@import '~modularscale-sass/stylesheets/modular-scale';

/* Global SCSS Dependencies */
@import '_reset';
@import '_typography';
@import '_variables';

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  padding: 0 1em;
  margin-top: $line-height-base / 2;
}

/**
 * Input Styles
 */

input {
  border: none;
  outline: none;
  padding: 0.6em;
  background-color: transparent;
  border-bottom: 1px solid $inputBorder;
  transition: border 0.3s ease-in-out;

  &:active,
  &:focus {
    border-color: $focusBorder;
  }

  &:focus:required:invalid {
    border-bottom: 1px solid crimson;
  }
}

/**
 * Button Styles
 */

button {
  display: inline-block;
  position: relative;
  background-color: $defaultButton;
  color: $defaultButtonText;
  padding: 0.5em 1em;
  box-shadow: 2px 2px 4px $boxShadowColor;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($defaultButton, 10%);
  }
}

/**
 * Date Displays
 */

time {
  font-weight: 700;
  font-family: $headerFont;
  color: $time;
  position: relative;
  display: inline;
  border-bottom: 1px solid #ddd;
}

.content {
  a {
    color: $header;
    border-bottom: 1px solid;
    transition: all 0.15s ease-in;

    &:hover {
      color: $darkerHeader;
      border-bottom: 1px solid;
    }
  }

  .introduction {
    font-size: ms(1);
    font-weight: 300;
    line-height: 1.25;
  }

  .breakout {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    box-shadow: 0 3px 4px $boxShadowColor, 0 -3px 4px $boxShadowColor;
  }
}

@import '_desktop';