/* Vendor Dependencies */
@import '~modularscale-sass/stylesheets/modular-scale';

/* Global SCSS Dependencies */
@import '_reset';
@import '_typography';
@import '_variables';

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  padding: 0 1em;
  margin-top: $line-height-base / 2;
}

button {
  display: inline-block;
  position: relative;
  background-color: $defaultButton;
  color: $defaultButtonText;
  padding: 0.5em 1em;
  box-shadow: 2px 2px 4px $boxShadowColor;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.3s;

  &:hover,
  &:focus,
  &:active {
    background: darken($defaultButton, 10%);
  }
}

.content {
  a {
    border-bottom: 1px solid $header;

    &:hover {
      border-bottom: 1px solid $darkerHeader;
    }
  }
}

@import '_desktop';