/* Vendor Dependencies */
@import '~modularscale-sass/stylesheets/modular-scale';

/* Global SCSS Dependencies */
@import '_reset';
@import '_typography';
@import '_variables';
@import '_mixin';

.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
  padding: 0 1.5em;
  margin-top: $line-height-base / 2;

  .home {
    display: flex;
  }
}

/**
 * Input Styles
 */

input {
  border: none;
  outline: none;
  padding: 0.6em;
  background-color: transparent;
  border-bottom: 1px solid $inputBorder;
  transition: border 0.3s ease-in-out;

  &:active,
  &:focus {
    border-color: $focusBorder;
  }

  &:focus:required:invalid {
    border-bottom: 1px solid crimson;
  }
}

/**
 * Button Styles
 */

button {
  display: inline-block;
  position: relative;
  background-color: $defaultButton;
  color: $defaultButtonText;
  padding: 0.5em 1em;
  box-shadow: 2px 2px 4px $boxShadowColor;
  font-family: $headerFont;
  transition: all 0.3s;

  svg {
    margin-right: $spacing;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: darken($defaultButton, 10%);
  }

  + button {
    margin-left: $spacing;
  }
}

.button--twitter {
  background-color: $twitter;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($twitter, 10%);
  }
}

.button--linkedin {
  background-color: $linkedIn;

  &:hover,
  &:focus,
  &:active {
    background-color: darken($linkedIn, 10%);
  }
}

/**
 * Date Displays
 */

time {
  font-weight: 700;
  font-family: $headerFont;
  color: $time;
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #ddd;
}

address {
  padding: ($spacing / 2) 0 0;
}

/**
* Blog Styles
*/

.blog__img {
  position: relative;

  img {
    max-width: 100%;
    height: auto;
  }
}

/**
* Lists
*/

ul {
  list-style-type: square;
  padding-left: 1.5em;
}

/**
* Disqus
*/

#disqus_thread {
  margin: ($spacing * 2) 0;
}

/**
* Content Styling
*/

.content {
  a {
    transition: all 0.3s ease-out;
    border-bottom: 2px solid transparent;

    &:hover,
    &:focus {
      border-bottom: 2px solid currentColor;
    }
  }

  .link--content {
    color: $header;
  }

  .link--readmore {
    color: $link;
  }

  .introduction {
    font-size: ms(1);
    font-weight: 300;
    line-height: 1.25;
  }

  .breakout {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    margin: $line-height-base 0;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    box-shadow: 0 3px 4px $boxShadowColor, 0 -3px 4px $boxShadowColor;
    color: #efefef;
  }

  .breakout-wrapper {
    padding: $spacing;
  }

  .breakout__title {
    font-family: $mainFont;
    padding: $spacing 0;
  }
}

/**
* Loading Styles
*/

.loading {
  @include flexRowCenter;

  svg {
    height: $line-height-base * 4;
    width: $line-height-base * 4;
  }
}

/**
* Comments
*/

.comments {
  padding-top: $spacing;
  border-top: 1px solid $border;
}

/**
* Social Icons
*/

.icon {
  height: 24px;
  width: 24px;
  fill: currentColor;
  vertical-align: bottom;

  &:hover {
    transform: scale(1.1);
  }

  &.twitter:hover {
    fill: $twitter;
  }

  &.github:hover {
    fill: $github;
  }

  &.linkedin:hover {
    fill: $linkedIn;
  }

  &.email:hover {
    fill: $email;
  }
}

@import '_tablet';
@import 'desktop';
@import '_article';
@import '_code';
@import '_images';