:root {
  --header: rgba(204, 94, 0, 0.8);
  --darkerHeader: color(var(--header) shade(20%));
  --twitter: #4099FF;
  --linkedIn: #0077b5;
  --email: #558C89;
  --github: #333;
  --msBases: 1;
  --msRatio: 1.5714;
  --baseLine: calc(var(--msRatio) * 16px);

  /* Buttons */
  --success: #66bb6a;
  --inputBorder: #ddd;
  --focusBorder: #555;
  --submitButton: #2196f3;
  --activeSubmitButton: #1976d2;
}