@import '../../../styles/_variables.scss';
@import '../../../styles/_mixin.scss';

.home {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: calc(100vh - 160px);
}

/**
* Flex
*/

.flex-align-center {
  align-items: center;
}

.contact {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #323232;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-in-out;
  will-change: transform;
  overflow: hidden;
}

.contact--visible {
  opacity: 1;
  pointer-events: auto;
}

.contact__moon {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: $moon;
  box-shadow: 0 0 10px #fff, 0 0 25px #fff, 0 0 40px #fff;
}

@media (min-width: $desktop) {
  .contact__moon {
    top: 3em;
    left: 3em;
    height: 150px;
    width: 150px;
  }
}

.contact__moon li {
  position: absolute;
  list-style: none;
  background: #737277;
  border-radius: 50%;
}

.contact__moon li:nth-child(1) {
  left: 20px;
  top: 50px;
  width: 25px;
  height: 25px;
  box-shadow: inset 6px -2px 0 0 #414043;
}

.contact__moon li:nth-child(2) {
  right: 40px;
  top: 20px;
  width: 20px;
  height: 20px;
  box-shadow: inset 3px -2px 0 0 #414043;
}

.contact__moon li:nth-child(3) {
  left: 70%;
  bottom: 35%;
  width: 15px;
  height: 15px;
  box-shadow: inset 2px -2px 0 0 #414043;
}

.contact__moon li:nth-child(4) {
  right: 35%;
  bottom: 5px;
  width: 15px;
  height: 15px;
  box-shadow: inset 6px -2px 0 0 #414043;
}

.contact__links svg {
  fill: #fff;
  height: 40px;
  width: 40px;
  transition: transform 0.2s ease-in;
}

.contact__close {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  outline: none;

  svg {
    height: 25px;
    width: 25px;
    fill: #fff;
    outline: none;
  }

  &:hover,
  &:focus {
    svg {
      fill: $header;
    }
  }
}

.contact__content {
  min-height: 100%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: $spacing * 2;
}

.contact__content h4 {
  padding-bottom: $spacing / 2;
  border-bottom: 2px solid $header;
}

@media (min-width: $desktop) {
  .contact__content p {
    font-size: 1.15em;
  }
}

.contact__content p {
  max-width: 30em;
  margin: 0 auto $spacing;
}

.contact__links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: $spacing 0;
}

.contact__links a {
  margin: $spacing;
}

.contact__links svg:hover {
  transform: translateY(-5%);
}

.closeme {
  position: absolute;
  bottom: 1em;
}

.other-skills {
  display: block;
  color: darken($header, 14%);
  will-change: transform;
}

.popDown {
  animation: popDown 0.6s ease-in both;
}

@keyframes popDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.container {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: $spacing * 2 1.5rem;

  a:hover,
  a:focus {
    text-decoration: underline;
    outline: 0;
  }

  p {
    font-size: ms(1);
    font-weight: 300;
    white-space: pre-line;
  }

  h5 {
    border-bottom: 2px solid $header;
    display: inline-block;
  }
}

.aboutme {
  background-color: #333a40;
  color: #fff;
}

.activity {
  background-color: #fff;
}

.github {
  padding: $spacing;
}
