@import '../../styles/_variables.css';

@media (min-width: 600px) {
  .form {
    width: 80%;
    max-width: 600px;
    margin: auto;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;

  & > div {
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;

    & input {
        padding: 0.6em;
        border-radius: 5px;
        border: 1px solid var(--inputBorder);

        &:active,&:focus {
          border-color: var(--focusBorder);
        }
    }

    &:last-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}