@import '../../styles/_variables.scss';

@media (min-width: $tablet) {
  .form {
    width: 80%;
    max-width: 600px;
    margin: auto;
  }
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;

  .form__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    &:last-child {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}