@import '../../styles/variables.css';

div {
    &.success {
      background-color: var(--success);
      padding: 1em;
      color: white;
      border-radius: 5px;
      margin: 0.5em 0;
    }
}

@media (min-width: 600px) {
  .form {
    width: 80%;
    max-width: 600px;
    margin: auto;
  }
}

.form {
  display: flex;
  flex-direction: column;

  & > div {
    display:flex;
    flex-direction: column;
    margin-bottom: 1em;

    & input {
        padding: 0.6em;
        border-radius: 5px;
        border: 1px solid var(--inputBorder);

        &:active,&:focus {
          border-color: var(--focusBorder);
        }
    }

    &:last-child {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  & button {
    width: 120px;
    background-color: var(--submitButton);
    align-self: center;
    border-radius: 5px;
    color: #fff;
    padding: 0.5em;
    transition: all 0.3s;
    text-transform: uppercase;
    font-weight: 500;

    &:hover,&:focus,&:active {
      background: var(--activeSubmitButton);
    }
  }
}