@import '../../styles/_variables.scss';
@import '../../styles/_mixin.scss';

.about {
  @include flexColumnCenter;

  .profile {
    position: relative;
    display: block;
    height: calc-my-height(8);
    width: auto;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px transparentize(#555, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: filter 0.3s ease-in;
    margin-bottom: $line-height-base;

    &:hover {
      filter: grayscale(100%);
    }
  }
}

@media (min-width: $tablet) {
  .about {
    flex-direction: row;

    + p {
      margin-top: $line-height-base / 2;
    }

    .profile {
      margin-right: 1em;
      margin-bottom: 0;
    }
  }

  .carousel {
    .carousel__item {
      padding: $line-height-base 0;
      flex: 1 1 10%;

      & > svg {
        height: 50px;
        width: 50px;
      }
    }
  }
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-around;
  margin: calc-my-height(1) 0;
}

.carousel__item {
  flex: 1 0 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing 0;
  flex-direction: column;
  transition: all 0.3s ease-in-out;

  span {
    font-family: $headerFont;
    color: #efefef;
    font-weight: 400;
    padding-top: $line-height-base / 4;
  }

  & > svg {
    height: 45px;
    width: 45px;
  }
}