@import '~styles/_variables';

.filters {
  margin-bottom: $line-height-base;
  display: flex;
  flex-wrap: wrap;
}

.button__text {
  padding: $spacing / 2 $spacing;
  display: inline-block;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

.button__count {
  padding: $spacing / 2 $spacing;
  display: inline-block;
  height: 100%;
  background-color: white;
  color: black;
  user-select: none;
  pointer-events: none;
}