@import '../../styles/_variables.scss';

.home {
  margin-top: $line-height-base;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    text-align: center;
  }
}

.home__carousel {
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.carousel__item {
  flex: 1 0 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: scale(0.9);
  transition: all 0.3s ease-in-out;

  label {
    font-family: $headerFont;
    font-weight: bold;
  }

  & > svg {
    height: 100px;
    width: 100px;
  }

  &:hover {
    transform: scale(1);
  }
}