@import '../../styles/_variables.scss';

.home {
  margin-top: $line-height-base;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    text-align: center;
  }
}