@import '../../styles/_variables.scss';

/**
 * This sites main header can have two different states.active
 * 1) Mobile, Hamburger menu is shown with a sliding down menu
 * 2) Desktop all Menu links items are shown.
*/

:global(.js-fixed-nav) {
  .header {
    position: fixed;
  }
}

.header {
  position: relative;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: $header;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  will-change: top;

  &::before {
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
    width: 100%;
    z-index: -50;
    opacity: 0;
    pointer-events: none;
  }

  &.header--expanded {
    &::before {
      opacity: 1;
      pointer-events: auto;
    }

    @media (min-width: $tablet) {
      &::before {
        opacity: 0;
        pointer-events: none;
      }
    }

    & .header__hamburger {
      &::before {
        animation: fab 0.2s cubic-bezier(0.15, 1.05, 0.54, 1.29) 1;
      }

      & span {
        background: none;

        &::before,
        &::after {
          top: 0;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }

    & .header__menu {
      opacity: 1;
      transform: translate(0, 100%);

      @media (min-width: $tablet) {
        transform: none;
      }
    }
  }
}

.header__content {
  background-color: $header;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  position: relative;
  height: 48px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  @media (min-width: $tablet) {
    max-width: $container;
    margin: 0 auto;
    box-shadow: none;
    height: 60px;
  }

  & .header__logo {
    cursor: pointer;
    height: 23px;
    width: 200px;

    @media (min-width: $tablet) {
      height: 34px;
      width: 300px;
    }
  }

  & .header__menu {
    position: absolute;
    z-index: -10;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
    background-color: $secondaryHeader;
    opacity: 0;
    will-change: transform;
    transform: none;
    transition: opacity $transition, transform $transition;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    & a {
      padding: $spacing;
      text-align: center;
      font-family: $headerFont;
      transition: background $transition;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &:hover,
      &:focus {
        background-color: darken($header, 10%);
      }

      &.active {
        background-color: darken($header, 20%);
      }
    }

    @media (min-width: $tablet) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: none;
      position: relative;
      opacity: 1;
      z-index: 0;
      height: 100%;
      box-shadow: none;

      & a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.1em;
        letter-spacing: 0.4px;
        text-shadow: 2px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }

  & .header__hamburger {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    top: $spacing;
    right: $spacing * 2;
    cursor: pointer;
    display: block;

    @media (min-width: $tablet) {
      display: none;
    }

    &::before {
      content: '';
      background-color: rgba(0, 0, 0, 0.15);
      position: absolute;
      border-radius: 50%;
      transform: scale(0);
      height: 100%;
      width: 100%;
    }

    & span {
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      top: calc(50% - 1px);
      will-change: transform;

      &::before,
      &::after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: top $transition, transform $transition;
      }

      &::before {
        top: -6px;
      }

      &::after {
        top: 6px;
      }
    }
  }
}

:global(.logo__code) {
  animation: fadeIn 1.5s 0.2s ease-in-out both;
}

:global(.logo__text) {
  animation: comeUp 1s ease-in-out both;

  &:nth-of-type(3) {
    animation-delay: 0.75s;
  }
}

@keyframes fab {
  to {
    transform: scale(2);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scaleX(0.1);
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}

@keyframes comeUp {
  from {
    transform: translateY(-150%);
  }

  to {
    transform: translateY(0);
  }
}