@import '../../styles/_variables.css';

.header__container {
    position: relative;
    z-index:1;
    background: var(--header);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    &.header__expanded {
        &:before {
            position: absolute;
            content:'';
            background-color: rgba(0, 0, 0, 0.3);
            min-height: 100vh;
            width: 100%;
            z-index: -50;
        }

        @media (--tablet) {
            &:before {
                min-height: 0;
            }
        }

        & .header__hamburger {
            & span {
                background: none;

                &:before, 
                &:after {
                    top: 0;
                    height: 3px;
                }

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }

        & .header__menu {
            @media (--tablet) {
                transform: none;
                box-shadow: none;
            }
            visibility: visible;
            transform: translate(0, 100%);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

            & a {
            }
        }

    }
}

.header__content {
    background: var(--header);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    position: relative;
    height: 48px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

    @media (--tablet) {
        height: 64px;
        max-width: 960px;
        margin: 0 auto;
        box-shadow: none;
    }

    & .header__logo {
        cursor: pointer;
        height: 23px;
        width: 200px;

        @media (--tablet) {
            height: 34px;
            width: 300px;
        }
    }

    & .header__menu {
        position: absolute;
        z-index: -10;
        left:0;
        right:0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        user-select: none;
        background: color(var(--header) alpha(90%));
        visibility: hidden;
        will-change: transform;
        transform: none;
        @apply --transition;

        & a {
            padding: var(--spacing);
            text-align: center;
            @apply --transition;

            &:hover,
            &:focus {
                background: color(var(--header) shade(10%));
            }
            &.active {
                background: color(var(--header) shade(20%));
            }
        }

        @media (--tablet) {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: none;
            position: relative;
            visibility: visible;
            z-index: 0;
            height: 100%;
            
            & a {
                height: 100%;
                display: flex;
                align-items: center;
                justtify-content: center;
                font-weight: 600;
            }
        }
    }

    & .header__hamburger {
        @media (--tablet) {
            display: none;
        }

        height: 1.5em;
        width: 1.5em;
        position: absolute;
        top: var(--spacing);
        right: calc(var(--spacing) * 2);
        cursor: pointer;
        display: block;

        & span {
            width: 100%;
            height: 2px;
            background-color: #fff;
            position: absolute;
            border-radius: 30px;
            top: calc(50% - 2px);
            will-change: transform;

            &:before, 
            &:after {
                content: '';
                background-color: #fff;
                position: absolute;
                border-radius: 30px;
                width: 100%;
                height: 2px;
                @apply --transition;
            }

            &:before {
                top: -6px;
            }

            &:after {
                top: 6px;
            }
        }
    }
}

:global(.logo__code) {
    animation: fadeIn 1.5s 0.2s ease-in-out both;
}

:global(.logo__text) {
    animation: comeUp 1s ease-in-out both;
    &:nth-of-type(3) {
        animation-delay: 0.75s;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scaleX(0.1);
    }, 
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.50;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes comeUp {
  from {transform: translateY(-150%);}
  to {transform: translateY(0);}
}