@import '../../styles/_variables.scss';
@import '../../styles/_mixin.scss';

.footer {
  text-align: center;
  background-color: $footer;
  margin-top: $line-height-base;
}

.footer__wrapper {
  margin: $line-height-base 5rem;
}

.footer__title {
  font-family: $headerFont;
}

.footer__content {
  @include flexRowCenter;

  padding: $spacing / 2;

  a {
    position: relative;
    padding: 0 $spacing + 5;
    outline: 0;

    span {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
    }

    & ~ a {
      &::before {
        content: ' ';
        width: 1px;
        height: 17px;
        left: -4px;
        top: 4px;
        display: inline-block;
        vertical-align: bottom;
        position: absolute;
        pointer-events: none;
        user-select: none;
        background-color: black;
      }
    }
  }
}
