@import '../../styles/_variables.scss';
@import '../../styles/_mixin.scss';

.footer {
  text-align: center;
  padding: 0.5em 0;
}

.footer__title {
  font-family: $headerFont;
}

.footer__content {
  @include flexRowCenter;

  padding: $spacing / 2;

  a {
    span {
      position: absolute;
      clip: rect(1px, 1px, 1px, 1px);
    }

    & ~ a {
      &::before {
        content: ' ';
        width: 1px;
        height: 17px;
        border-right: 1px solid currentColor;
        bottom: 3px;
        margin: 0 1em;
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        pointer-events: none;
        user-select: none;
      }
    }
  }
}