@import '~styles/_variables.scss';

.blog {
  li:not(:last-of-type) {
    padding-bottom: 5px;
  }
}

.blog__meta {
  display: flex;
  align-items: center;

  figure {
    margin: 0 $spacing 0 0;
    border: 1px solid $border;
    border-radius: 100%;
    padding: 6px;
  }
}
